@use 'variables' as *;
@use 'mixins' as *;

*, ::before, ::after {
    font-family: 'Roboto';
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h4 {
    font-family: $heading-font-family;
    font-weight: normal;
}

h2 {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

header {
    height: 65px;
    background-color: white;
    box-shadow: 0 0px 4px rgb(165, 165, 165);

    // disable margin collapse
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#go-back {
    color: $gray-dark;
    text-decoration: none;
    width: 65px;
    height: 65px;
    position: absolute;
    left: 0;
    display: none;
    &::before {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.visible {
        display: block;
    }
}

.brand {
    margin: 5px 0 0 0;
}

.location {
    color: $gray-dark;
    background-color: $gray-light;
    font-weight: bold;
    text-align: center;
    padding: 15px 25px 15px 0;
    font-size: 1.1em;
    * {
        transform: translateX(-1em);
    }
    .icon {
        font-size: 1em;
        transform: translateY(-0.1em);
        margin-right: 10px;
    }
}

.hero {
    text-align: center;
    background-color: $gray-lighter;
    padding: 20px 30px 55px;
    &-heading {
        margin: 20px 20px 15px;
    }
    &-body {
        margin: 0px 0 30px;
        font-size: 1.1em;
        color: $gray-medium;
        font-weight: lighter;
    }
}

section {
    padding: 55px 20px;
    h2 {
        margin-bottom: 20px;
    }
}

footer {
    background-color: $gray-medium;
    color: white;
    padding: 20px;
    h4 {
        font-size: 1.3em;
        margin: 0 0 20px 0;
    }
    li {
        margin: 6px;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    .icon {
        font-size: 0.9em;
        width: 1em;
        margin-right: 10px;
    }
}

.bg-light {
    background-color: $gray-lighter;
}

.menu {
    img {
        display: block;

        // needed for stacking order
        position: relative;

        // full width with a small zoom
        width: calc(100% + 30px);
        margin: 0 -15px;
    }
    &-heading {
        font-family: $heading-font-family;
        font-weight: normal;
        font-size: 1.6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 20px;
        .icon {
            font-size: 1em;
            margin-right: 20px;
        }
    }
    >div {
        margin-top: -50px;
        background-color: $gray-lighter;
        
        // needed for stacking order
        position: relative;

        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
}

.icon.heart {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    padding: 50px 0;
    .btn {
        padding-left: 50px;
        padding-right: 50px;
    }
}
